<h1>用户列表</h1>
<table class="table">
  <thead>
    <tr>
      <th>用户名</th>
      <th>邮箱</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
      <td>
        <a href="/admin/user/{{this.id}}">查看</a>
        <a href="/admin/user/edit/{{this.id}}">编辑</a>
        <a href="" class="delete-user" onclick="deleteUser({{this.id}})">删除</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  function deleteUser(id) {
    if (confirm('确定要删除该用户吗？')) {
      $.ajax({
        url: '/admin/user/' + id,
        type: 'DELETE',
        success: function (res) {
          if (res.success) {
            window.location.reload()
          }
        }
      })
    }
  }
</script>
